language: node_js

node_js:
  - 6
  - 8
  - 10

sudo: required

cache:
  directories:
    - "$HOME/.npm"
    - "$HOME/.cache"

install:
  - npm ci

before_script:
  - npm run pretest
  - npm run serve -- --no-browser &

script:
  - npm run test:ci

notifications:
  email: false
