extend _layout

block run
  script.
    /* global PullToRefresh */
    PullToRefresh.init({
      mainElement: '#main', // above which element?
      onRefresh: function (cb) {
        setTimeout(function () {
          cb();
          alert('refresh');
        }, 1500);
      }
    });
