extend _layout

block run
  script.
    /* global PullToRefresh */
    PullToRefresh.init({
      mainElement: '#main', // above which element?
      onRefresh: function () {
        return new Promise(function (resolve) {
          setTimeout(function () {
            resolve();
            alert('refresh');
          }, 1500);
        });
      }
    });
