extend _layout

block header
  span.trigger &darr;
  h1 Demo

block run
  script.
    /* global PullToRefresh */
    PullToRefresh.init({
      mainElement: '#main',
      triggerElement: '.trigger',
      onRefresh: function() { alert('refresh') }
    });
