doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Pull To Refresh Demo
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/demos/style.css')

  body
    header
      .wrap
        block header
          h1 Demo

    #main
      .wrap
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p.links
          a(href='/demos/raw.html') Raw
          a(href='/demos/basic.html') Basic
          a(href='/demos/trigger.html') Trigger
          a(href='/demos/promise.html') Promise
          a(href='/demos/callback.html') Callback

    #footer
      .wrap
        | Footer

    script(src='/dist/pulltorefresh.js')

    block run
